

.container{
    margin:0 auto;
    padding: 6px;
    
}

#header{
    color: #2c3e50;
    text-align: center;
    padding: 10px;
    font-size: 30px
}

.form{
    max-height: 650px;
    width: 80%;
    background: #2c3e50;
    margin: 0 auto;
    overflow: auto;
}

#inputRanNm{
    margin: 0 auto;
    height: 400px;
    width: 500px;
    text-align: center;
    color: #878b87;
    font-weight: bold;
    padding: 10px;
}


#inputRanNm input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#878b87;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px
}

#result{
    width: 100%;
    height: 100px;;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#878b87;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px
}

#submit{
    width: 100%;
    background: #2c3e50;
    border: 2px solid #ccc;
    color:  #ccc;
    outline-color: #ccc;
    padding: 14px 40px;
    border-radius: 10px;
    font-size: 25px
}

#submit:hover{
    background: #ccc;
    color:#2c3e50;
    outline-color:#ccc;
}

#submit {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#randomNum{
    color:white;
    text-align:center;
    padding-top:40px;
    font-size: 30px
}

.bold{
    font-weight: bold;
}

@media (max-width: 768px) {
    .form {
      width: 100%; 
    } 
}
  



